:host {
  display: block;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #fbfcfd;
}

.line-clamp-2 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
